<?xml version="1.0"?>
<root>
	<hid>
		<id1 pos="0" id="1" area="1" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id1>
		<id2 pos="100" id="100" area="1" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id2>
		<id3 pos="200" id="200" area="1" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id3>
		<id4 pos="300" id="300" area="1" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id4>
		<id5 pos="400" id="400" area="1" safedis="1000"><cmd1 spd="50" dis="1000" cmd="r"></cmd1></id5>
		<id6 pos="500" id="500" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id6>
		<id7 pos="600" id="600" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1><cmd2 dis="800" spd="80" tick="30" cmd="t" runtime="200"/><cmd4 tick="230" runtime="20" cmd="p"></cmd4><cmd5 dis="0" spd="50" tick="270" cmd="t" runtime="200"/></id7>
		<id8 pos="700" id="700" area="2" safedis="1000"><cmd1 spd="60" dis="1000" cmd="r"></cmd1></id8>
		<id9 pos="800" id="800" area="2" safedis="1000"><cmd1 spd="30" dis="1000" cmd="r"></cmd1></id9>
		<id10 pos="900" id="900" area="2" safedis="1000"><cmd1 spd="10" dis="1000" cmd="r"></cmd1></id10>
		<id11 pos="1000" id="1000" area="2" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1><cmd2 dis="800" spd="80" tick="30" cmd="t" runtime="200"/><cmd4 tick="230" runtime="20" cmd="p"></cmd4><cmd5 dis="0" spd="50" tick="260" cmd="t" runtime="200"/></id11>
		<id12 pos="1200" id="1200" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id12>
		<id13 pos="1400" id="1400" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id13>
		<id14 pos="1600" id="1600" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id14>
		<id15 pos="1800" id="1800" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1><cmd3 dis="500" spd="75" tick="30" cmd="a" runtime="100" type="1"/><cmd3 dis="0" spd="75" tick="180" cmd="a" runtime="200" type="1"/></id15>
		<id16 pos="2000" id="2000" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id16>
		<id17 pos="2100" id="2100" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id17>
		<id18 pos="2200" id="2200" area="2" safedis="1000"><cmd1 spd="60" dis="1000" cmd="r"></cmd1></id18>
		<id19 pos="2300" id="2300" area="2" safedis="1000"><cmd1 spd="30" dis="1000" cmd="r"></cmd1></id19>
		<id20 pos="2400" id="2400" area="2" safedis="1000"><cmd1 spd="10" dis="1000" cmd="r"></cmd1></id20>
		<id21 pos="2500" id="2500" area="2" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1><cmd2 dis="-900" spd="80" tick="100" runtime="200" cmd="t"/><cmd4 tick="300" cmd="p"></cmd4></id21>
		<id22 pos="2600" id="2600" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id22>
		<id23 pos="2800" id="2800" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id23>
		<id24 pos="3000" id="3000" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id24>
		<id25 pos="3200" id="3200" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id25>
		<id26 pos="3300" id="3300" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1><cmd3 dis="50" spd="75" tick="100" cmd="a" runtime="100" type="1"/><cmd3 dis="-50" spd="75" tick="100" cmd="a" runtime="100" type="1"/></id26>
		<id27 pos="3400" id="3400" area="2" safedis="1000"><cmd1 spd="60" dis="1000" cmd="r"></cmd1></id27>
		<id28 pos="3500" id="3500" area="2" safedis="1000"><cmd1 spd="30" dis="1000" cmd="r"></cmd1></id28>
		<id29 pos="3600" id="3600" area="2" safedis="1000"><cmd1 spd="10" dis="1000" cmd="r"></cmd1></id29>
		<id30 pos="3700" id="3700" area="2" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1><cmd2 dis="900" spd="80" tick="100" runtime="100" cmd="t"/><cmd4 tick="300" cmd="p"></cmd4></id30>
		<id31 pos="3800" id="3800" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id31>
		<id32 pos="4000" id="3900" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id32>
		<id33 pos="4200" id="4200" area="2" safedis="1000"><cmd1 spd="100" dis="1000" cmd="r"></cmd1></id33>
		<id34 pos="4300" id="4300" area="3" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id34>
		<id35 pos="4400" id="4400" area="3" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id35>
		<id36 pos="4500" id="4500" area="3" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id36>
		<id37 pos="4600" id="4600" area="3" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id37>
		<id38 pos="4700" id="4700" area="4" safedis="1000"><cmd1 spd="10" dis="1000" cmd="r"></cmd1></id38>
		<id39 pos="4800" id="4800" area="4" safedis="1000"><cmd1 spd="10" dis="1000" cmd="r"></cmd1></id39>
		<id40 pos="4900" id="4900" area="4" safedis="1000"><cmd1 spd="10" dis="1000" cmd="r"></cmd1></id40>
		<id41 pos="5100" id="5100" area="4" safedis="1000"><cmd1 spd="10" dis="1000" cmd="r"></cmd1></id41>
		<id42 pos="5200" id="5200" area="5" safedis="1000"><cmd1 spd="10" dis="1000" cmd="r"></cmd1></id42>
		<id43 pos="5300" id="5300" area="5" safedis="1000"><cmd1 spd="10" dis="1000" cmd="r"></cmd1></id43>
		<id44 pos="5400" id="5400" area="5" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id44>
		<id45 pos="5500" id="5500" area="5" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id45>
		<id46 pos="5600" id="5600" area="6" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id46>
		<id47 pos="5700" id="5700" area="6" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id47>
		<id48 pos="5800" id="5800" area="6" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id48>
		<id49 pos="5900" id="5900" area="6" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id49>
		<id50 pos="6000" id="6000" area="6" safedis="1000"><cmd1 spd="0" dis="1000" cmd="r"></cmd1></id50>
	</hid>
	<softcfg carnumber="10" traillen="6700" combaudrate="115200" comport="3"/>
</root>
